*.yml
.ipynb_checkpoints/
.DS_Store

# google fleurs
google_fleurs/*.json
google_fleurs/wav

# vulcan asr
vulcan_asr/wav
vulcan_asr/data.csv
vulcan_asr/data.json

# librispeech
librispeech_asr/LibriSpeech/
librispeech_asr/*.json

# gigaspeech (M)
gigaspeech/*.json

# audiocaps
audiocaps/*.json
audiocaps/train/
audiocaps/val/
audiocaps/test/

# clotho
clotho/clotho_*.csv
clotho/*.json
clotho/wav_16k
clotho/wav_original_44.1k

# th_cv-and-dialect-central-and-yodas
th_cv-and-dialect-central-and-yodas/wav/
th_cv-and-dialect-central-and-yodas/*.json