*.yml
.ipynb_checkpoints/
.DS_Store

# google fleurs
google_fleurs/*.json
google_fleurs/wav

# vulcan asr
vulcan_asr/wav

# librispeech
librispeech_asr/LibriSpeech/
librispeech_asr/*.json

# audiocaps
audiocaps/*.json
audiocaps/train/
audiocaps/val/
audiocaps/test/

# clotho
clotho/clotho_*.csv
clotho/*.json
clotho/wav_16k
clotho/wav_original_44.1k